* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 716px;
    width: 100%;
    z-index: 0;
}
/*----------------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    top:0px;
    z-index: 10;
}

header ul {
    height: 100px;
    padding-left: 150px;
    padding-right: 150px;

    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header ul li {
    text-align: center;
    justify-content: center;
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.li5 {
    flex: 2;
    font-family: Dense;
    font-size: 25px;
}

.li1 {
    flex: 2;
}

.li2 {
    flex: 10;
    font-family: Dense;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}

.li3 {
    flex: 2;
}

.li4 {
    flex: 1;
}

/*----------------------------------------------------------------------------*/

.mainpage {
    min-height: calc(100% - 100px);
    margin-top: 100px;
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    z-index: 1;
}


.mainH1 {
    min-height: calc(100vh - 200px);
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    font-family: Dense-Regular;
    font-size: 23px;
    color: #a0d1b4;
}

.imgFlower {
    width: 300px;
    height:217px;
    background-image: url("../images/flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imgUISA {
    width: 360px;
    height:120px;
    background-image: url("../images/uisalogoBlack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paddingSocialMedia {
    /*margin: 0px 40px 0px 40px;*/
    padding: 0px 40px 0px 40px;
}
/*----------------------------------------------------------------------------*/

.middle-aboutpage {
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.info-aboutus {
    max-width: 700px;
    font-family: SanFran-UltraLight;
    font-size: 15px;
    padding: 20px 0px 20px 0px;
}

.divider-lines {
    border-top: 1px dashed #000;
    /*border-bottom: 1px dashed #000;*/
}

.info-aboutus p {
    padding: 10px 0px 10px 0px;
}

.info-aboutus p strong {
    text-transform: uppercase;
    font-size:20px;
    font-family: SanFran-SemiBold;
}

.contact-buttons {
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;

}

.contact-buttons div {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

/*----------------------------------------------------------------------------*/

.imagehover {
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.imagehover:hover {
    -webkit-filter: grayscale(0%); filter: grayscale(0%);
}

#sponsors {
    max-width: 700px;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#sponsors div {
    padding: 20px;
}

#sponsors div a img {
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

#sponsors div a img:hover {
    -webkit-filter: grayscale(0%); filter: grayscale(0%);
}

/*----------------------------------------------------------------------------*/

#board {
    max-width: 1000px;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.boardpic {
    width:200px;
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px;
}

.boardinfo {
    width:200px;
    height:300px;
    text-align:center;
    font-size:20px;
    font-family: SanFran-UltraLight;
    background:#FFF;
    opacity:0;
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.boardName {
    width:200px;
    height:300px;
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.boardName p {
}

.boardName p strong {
    text-transform: uppercase;
    font-size:20px;
    font-family: SanFran-SemiBold;
}

.boardpic:hover .boardinfo {
    opacity:0.9;
}

/*----------------------------------------------------------------------------*/

footer {
    height: 100px;
    background: #202020;
    position:relative;
    z-index: -1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer > .footer{
	width:400px;
    height:100px;
	position:fixed;
	bottom:0;
	z-index:-1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footerbox {
}

.copyright {
    text-transform: uppercase;
    font-family: SanFran-UltraLight;
    letter-spacing: 0.45em;
    color: #e1e1e1;
    padding: 2px;
}

.copyright span a {
    text-decoration: none;
    font-family: SanFran-SemiBold;
    color: #e1e1e1;
}

/*----------------------------------------------------------------------------*/

@font-face {
    font-family: SanFran-Bold;
    src: url('../fonts/SanFranciscoDisplay-Bold.otf');
}

@font-face {
    font-family: SanFran-SemiBold;
    src: url('../fonts/SanFranciscoDisplay-Semibold.otf');
}

@font-face {
    font-family: SanFran-UltraLight;
    src: url('../fonts/SanFranciscoDisplay-Ultralight.otf');
}

@font-face {
    font-family: Ollie;
    src: url('../fonts/Ollie.otf');
}

@font-face {
    font-family: Avenir;
    src: url('../fonts/Avenir.ttf');
}

@font-face {
    font-family: Dense-Bold;
    src: url('../fonts/Dense-Bold.ttf');
}

@font-face {
    font-family: Dense-Regular;
    src: url('../fonts/Dense-Regular.otf');
}

/*----------------------------------------------------------------------------*/

@media screen and (max-width: 700px) {
    header ul {
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header ul li {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 420px) {

    .mainpage {
        /*min-height: calc(100% - 250px);*/
        margin-top: 0px;
    }

    header {
        position: relative;
    }

    header ul {
        height: 150px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-flex-flow: row wrap;
    }

    .indexUL {
        -webkit-flex-flow: column wrap;
    }

    .li5 {
        flex: 1 auto;
    }

    header ul li {
        display: flex;
        text-decoration: none;
        display: inline-block;
    }

    .mainH1 {
        min-height: calc(100vh - 150px);
        display: flex;
        -webkit-flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-align-self: center;
        align-self: center;
        font-family: Dense-Regular;
        font-size: 16px;
        color: #a0d1b4;
    }

    .middle-aboutpage {
        padding: 10px 20px 10px 20px;
    }
/*
    .imgFlower {
        width:200px;
        height:145px;
    }*/

    .imgUISA {
        width: 240px;
        height: 80px;
    }

    .li1 .li2 .li3{
        flex: 1 auto;
    }
/*
    .footerbox {
        width: 275px;
    }*/
}
