.main {
    height: calc(100% - 100px);
}

#page1 {
    height: calc(100% - 100px); /*270*/
    margin-top: 100px;
    background-image: url("../images/background-page1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.red-background {
    height: 100%;
    background: red;
    background: -webkit-linear-gradient(left,rgba(253,79,79,1), rgba(253,79,79,0.9), rgba(214,42,67,0.1));
    background: -o-linear-gradient(left,rgba(253,79,79,1), rgba(253,79,79,0.9), rgba(214,42,67,0.1));
    background: -moz-linear-gradient(left,rgba(253,79,79,1), rgba(253,79,79,0.9), rgba(214,42,67,0.1));
    background: linear-gradient(to right, rgba(253,79,79,1), rgba(253,79,79,0.9), rgba(214,42,67,0.1));
}

.page1-info-outer {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.page1-info-inner {
    display: flex;
    margin: auto;
    /*margin: 20px;*/
    /*margin-top: 50px;*/
    height: 100%;
    /*background: red;*/
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
}


.div-Page1Info {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px;
}

#clockdiv{
    font-family: SanFran-Bold;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    width: 100%;

}

.clockElement {
    display: inline-block;
    width: 100px;
    margin: auto;
}


.smalltext{
    font-family: SanFran-UltraLight;
    padding-top: 3px;
    font-size: 16px;
}


.button {
    border-radius: 10px;
    background-color: white;
    border: none;
    color: #fd4f4f;
    font-family: Ollie;
    font-size: 25px;
    width: 200px;
    height: 50px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #fd4f4f;
    color: white;
}

.button a {
    text-decoration: none;
}
/*----------------------------------------------------------------------------*/

.page2 {
    background-color: #f4f4f4;
    width: 100%;
}

.quick-info-outer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.quick-info {
    justify-content: center;
    text-transform: uppercase;
    text-align: left;
    width: 300px;
    padding: 20px;
}

.question {
    font-family: SanFran-UltraLight;
    opacity: 0.4;
}

.answer {
    font-family: Dense-Bold;
    font-size: 50px;
}

.answer a {
    text-decoration: none;
    color: #fd4f4f;
}

.explanation {
    font-family: Dense-Regular;
    font-size: 20px;
    opacity: 0.4;
}

/*----------------------------------------------------------------------------*/
#page3 {
    min-height: calc(100% - 100px); /*270*/
    background-image: url("../images/background-page2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.red-background-backwards {
    height: 100%;
    background: red;
    background: -webkit-linear-gradient(left,rgba(214,42,67,0.1), rgba(253,79,79,0.9), rgba(253,79,79,1));
    background: -o-linear-gradient(left,rgba(214,42,67,0.1), rgba(253,79,79,0.9), rgba(253,79,79,1));
    background: -moz-linear-gradient(left,rgba(214,42,67,0.1), rgba(253,79,79,0.9), rgba(253,79,79,1));
    background: linear-gradient(to right, rgba(214,42,67,0.1), rgba(253,79,79,0.9), rgba(253,79,79,1));
}

.page3-info-outer {
    display: flex;
    float: right;
    width: 50%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
}

.page3-h1 {
    /*width: 100%;*/
    padding: 10px 50px 10px 50px;
    text-align: left;
    font-family: Dense-Bold;
    font-size:50px;
}

.page3-p {
    /*width: 100%;*/
    padding: 10px 50px 10px 50px;
    text-align: left;
    font-family: SanFran-UltraLight;
}
/*----------------------------------------------------------------------------*/

.page4 {
    background-color: #f4f4f4;
    width: 100%;
}

.teamPage {
    padding: 50px;
    display:block;
    overflow:auto;
}

.teamPage h2 {
    text-align: center;
    font-family: Dense-Bold;
    font-size: 50px;
    text-transform: uppercase;
}

.teamPage p {
    text-align: center;
    font-family: Dense-Regular;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

}

#teams {
  padding: 0 50px 0 50px;
  margin: 0;
  margin-top: 30px;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.teamLogo {
    width:100px;
    height:100px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.teamInfo {
    width:100px;
    height:100px;
    text-align:center;
    background:#FFF;
    opacity:0;
    display: flex;
    -webkit-flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.teamName p {
    text-transform: uppercase;
    font-size:12px;
    font-family: Dense-Regular;
}

.teamName p strong {
    color: rgba(253,79,79,1);
    text-transform: uppercase;
    font-size:14px;
    font-family: Dense-Bold;
}

.teamLogo:hover .teamInfo {
    opacity:0.9;
}

/*----------------------------------------------------------------------------*/
.page5 {
    background-color: #f4f4f4;
    width: 100%;
}

.apPage {
    background: rgba(255, 255, 255, 1);
    padding: 50px;
    display:block;
    overflow:auto;
    text-align: center;
}

.apPage h1 {
	display: inline;
	position: relative;
    font-size: 50px;
    font-family: Dense-Bold;
    text-transform: uppercase;
	color: rgba(253,79,79,1);
    margin-bottom: 25px;
}


.apPage h3 {
    font-size: 20px;
    font-family: Dense-Regular;
    text-transform: uppercase;
}

.blacklitparty {
    background-color: #141414;
}

.blacklitparty h1 {
    color: #e7def9;
    text-shadow: 0 0 15px #9048c6;
}


.blacklitparty h3 {
    color: #1ffbd8;
    text-shadow: 0 0 15px #42e0d2;
}

/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
    iframe {
        width: 450px;
        height: 253px;
    }
}

@media screen and (max-width: 950px) {
    .page1-info-inner {
        margin-top: 0px;
    }

    .div-Page1Info {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    header ul {
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header ul li {
        padding-left: 10px;
        padding-right: 10px;
    }
    iframe {
        width: 380px;
        height: 214px;
    }
}

@media screen and (max-width: 768px) {
    header ul {
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header ul li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page1-info-inner {
        margin-top: 0px;
    }

    .div-Page1Info {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .page3-info-outer {
        width: 100%;
    }

    #teams {
        padding: 0px;
    }

    .teamPage {
        padding: 50px 10px 50px 10px;
    }

    .apPage {
        padding: 50px 10px 40px 10px;
    }

    iframe {
        width: 400px;
        height: 225px;
    }
}

/*414px*/
@media screen and (max-width: 420px) {

    .main {
        height: calc(100% - 200px);
    }

    #page1 {
        margin-top: 0px;
    }

    .page1-info-inner {
        margin-top: 0px;
    }

    .page1-info-outer {
        width: 100%;
    }


    .page1-info-inner {
        width: 80%;
    }

    .div-Page1Info {
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .page3-info-outer {
        width: 100%;
    }

    .page3-h1 {
        /*margin: 15px;*/
        /*padding: 0;*/
        text-align: left;
        font-family: Dense-Bold;
        font-size:50px;
    }

    .page3-p {
        /*width: 100%;*/
        text-align: left;
        padding: 10px 40px 10px 40px;
    }

    #teams {
        padding: 0px;
    }

    .teamPage {
        padding: 50px 10px 50px 10px;
    }

    .apPage {
        padding: 50px 10px 40px 10px;
    }

    iframe {
        width: 300px;
        height: 169px;
    }
}
